# Pre-OK
RewriteEngine On
#RewriteBase /
RewriteRule ^(.*)      /web/$1   [QSA,L,NC]


#RewriteCond %{ENV:REDIRECT_STATUS} ^$
#RewriteRule ^[](.*)$ http://%{HTTP_HOST}/$1 [R=301,L]
#RewriteRule ^zapis/$ /category/art1/zapis/ [L]



# Заголовок Cache-Control
<IfModule mod_headers.c>
        Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>
# Заголовок Expires
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "now"
</IfModule>



#
#
#
#
#RewriteCond %{REQUEST_URI} !^/(web)
#RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
#RewriteRule ^css/(.*)$ web/css/$1 [L]
#RewriteRule ^js/(.*)$ web/js/$1 [L]
#RewriteRule ^images/(.*)$ web/images/$1 [L]
#RewriteRule !^web /web%{REQUEST_URI} [L]